<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit user</title>
    </head>
    <body>

        <p>
            <a th:href="@{/logout}">Log out</a>
            <a href="list-users.htm">List users</a>
        </p>
        
        <p th:if="${message}" th:text="${message}">message</p>
        
        <h1>Update a user</h1>
        
        <form th:object="${webUser}" th:action="@{user-edit-{id}.htm(id=${webUser.id})}" method="post">
            
            <label>Name
            <input type="text" name="name" th:value="*{name}"/></label><br/>
            
            <label>Password
            <input type="text" name="password" th:value="*{password}"/></label><br/>
            
            <label>Email
            <input type="email" name="email" th:value="*{email}"/></label><br/>
            
            <label>Asterisk extension
            <input type="text" name="asteriskExtension" th:value="*{asteriskExtension}"/></label><br/>
            
            <label>Asterisk context
            <input type="text" name="asteriskContext" th:value="*{asteriskContext}"/></label><br/>

            <label >Asterisk dial prefix
            <input type="text" name="asteriskDialPrefix" th:value="*{asteriskDialPrefix}"/></label><br/>

            <label>Time zone
            <input type="text" name="timeZone" th:value="*{timeZone}"/></label><br/>

            <label>Active?
            <input type="checkbox" th:field="*{active}"/></label><br/>

            <input type="hidden" name="id" th:value="*{id}"/>

            <input type="submit" value="update"/>
            
        </form>
    </body>
</html>
