<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Contact image form fragment</title>
    </head>
    <body>
        <h1>Contact image form fragment</h1>

        <section th:fragment="contact-image-upload">

            <div class="uploadRow">

                <p>Profile picture</p>
                <img th:unless="${contact.icon}"  id="oldImage" class="old" 
                     src="../style/grey-silhouette.png" />

                <img th:if="${contact.icon}"  id="oldImage" class="old"
                     th:src="@{'contact-image-' + ${contact.id}}" />

                <img id="uploadPreview" class="old"
                     style="display: none;" 
                     src="../style/grey-silhouette.png" />

                <br/>

                <!-- The file input has no name attribute so it is not
                included in the post data when the form is submitted -->
                <input type="file" accept="image/*"
                       id="fileToUpload" onchange="fileSelected();"/><br/>
                <input id="uploadButton" disabled="disabled" type="button" 
                       onclick="uploadFile()" value="Upload" />
                <input id="cancelButton" disabled="disabled" type="button" 
                       onclick="cancelImage()" value="Cancel" />
                <!-- we're actually not using this field -->
                <input id="saveButton" disabled="disabled" type="hidden" 
                       onclick="saveImage()" value="Save" />
                <input id="tempImageId" name="tempImageId" type="hidden" 
                       value=""/>
                <span th:if="${contact.icon}" style="font-size: x-small;">delete 
                    image?
                    <input type="checkbox" name="deleteImage" value="1"/>
                </span><br th:if="${contact.icon}" />

                <label for="fileUploadMoreInfo" style="font-size: x-small;" 
                       class="toggle">upload info</label>
                <input id="fileUploadMoreInfo" type="checkbox" checked="checked" 
                       class="toggle" />
                <table class="uploadInfo" >
                    <tbody>
                        <tr>
                            <th>File name</th>
                            <td id="fileName">-</td>
                        </tr>

                        <tr>
                            <th>File size</th>
                            <td id="fileSize">-</td>
                        </tr>

                        <tr>
                            <th>File type</th>
                            <td id="fileType">-</td>
                        </tr>

                        <tr>
                            <th>Upload progress</th>
                            <td id="progressNumber">not started</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <script>
                /** Use this function to save the image, after it has been 
                 * successfully uploaded */
                function saveImage() {
                    var dataToSend = new FormData();
                    dataToSend.append('action', 'saveImage');
                    dataToSend.append('contactId',
                            document.getElementById('contactId'));
                    dataToSend.append('tempImageId',
                            document.getElementById('tempImageId').value);
                    var xhr = new XMLHttpRequest();
                    // fixme - we should somehow use relative paths in this
                    dataToSend.append(CSRF_TOKEN_PARAMETER_NAME, CSRF_TOKEN);
                    xhr.open("POST", "../upload-save");
                    xhr.send(dataToSend);
                    document.getElementById('saveButton').value = "Saved";
                    document.getElementById('saveButton').disabled = true;

                }

                function fileSelected() {
                    var file = document.getElementById('fileToUpload').files[0];
                    if (file) {
                        var fileSize = 0;
                        if (file.size > 1000000)
                            fileSize = (Math.round(file.size * 100 / (1000000)) / 100).toString() + 'MB';
                        else
                            fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                        document.getElementById('fileName').innerHTML = file.name;
                        document.getElementById('fileSize').innerHTML = fileSize;
                        document.getElementById('fileType').innerHTML = file.type;
                        document.getElementById('uploadButton').disabled = false;
                        previewImage();
                    }
                }

                function uploadFile() {

                    var xhr = new XMLHttpRequest();
//                    var ob = document.getElementById('form1');

//                    console.log('The form obj is: ' + ob);
//                    if (ob == null) {
//                        alert('Error in HTML');
//                        return;
//                    }

                    /* event listners */
                    xhr.upload.addEventListener("progress", uploadProgress, false);
                    xhr.addEventListener("load", uploadComplete, false);
                    xhr.addEventListener("error", uploadFailed, false);
                    xhr.addEventListener("abort", uploadCanceled, false);
                    
                    // there is an issue with Spring Security and multipart form upload, so one solution
                    // is to put the token in the URI params
//                    xhr.open("POST", "../upload.htm?" + CSRF_TOKEN_PARAMETER_NAME + "=" + CSRF_TOKEN);
                    xhr.open("POST", "./upload");
                    var formData = new FormData();
                    formData.append('fileToUpload',
                            document.getElementById('fileToUpload').files[0]);
                    formData.append(CSRF_TOKEN_PARAMETER_NAME, CSRF_TOKEN);
//                    xhr.setRequestHeader(CSRF_HEADER, CSRF_TOKEN);
                    xhr.send(formData);
                }


                function uploadProgress(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                        document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
                    } else {
                        document.getElementById('progressNumber').innerHTML = 'unable to compute';
                    }
                }

                function uploadComplete(evt) {
                    console.log('File upload is complete; response text is: ' +
                            evt.target.responseText);
                    document.getElementById('cancelButton').disabled = false;
                    document.getElementById('saveButton').disabled = false;
                    document.getElementById('uploadButton').disabled = true;
                    // this should check that the response text is actually an integer
                    document.getElementById('uploadPreview').src = 'temporary-image-' +
                            evt.target.responseText;
                    document.getElementById('progressNumber').innerHTML = 'uploaded';
                    document.getElementById('tempImageId').value =
                            evt.target.responseText;

                    // now we need to re-set the preview image as well
                    //                        alert(evt.target.responseText);
                }

                function uploadFailed(evt) {
                    document.getElementById('uploadButton').disabled = true;
                    alert("There was an error attempting to upload the file.");
                }

                function uploadCanceled(evt) {
                    document.getElementById('uploadButton').disabled = true;
                    document.getElementById('saveButton').disabled = true;

                    alert("The upload has been canceled by the user or the browser dropped the connection.");
                }

                function previewImage() {
                    var fileReader = new FileReader();
                    fileReader.readAsDataURL(document.getElementById('fileToUpload').files[0]);
                    fileReader.onload = function (oFREvent) {
                        document.getElementById('uploadPreview').src = oFREvent.target.result;
                        document.getElementById('uploadPreview').style.display = '';
//                                   console.log('i am about to hide the old image i hope');
                        document.getElementById('oldImage').style.display = 'none';

                    };
                }

                function resetImage() {
                    document.getElementById('fileToUpload').value = "";
                    document.getElementById('uploadPreview').style.display = 'none';
                    document.getElementById('oldImage').style.display = '';

                }

                function cancelImage() {
                    document.getElementById('fileName').innerHTML = '-';
                    document.getElementById('fileSize').innerHTML = '-';
                    document.getElementById('fileType').innerHTML = '-';
                    document.getElementById('progressNumber').innerHTML = 'not started';
                    document.getElementById('uploadButton').disabled = false;
                    document.getElementById('cancelButton').disabled = true;
                    document.getElementById('saveButton').disabled = true;

                    document.getElementById('saveButton').value = "Save";
                    document.getElementById('saveButton').disabled = false;
                    resetImage();
                }
            </script>
        </section>

    </body>
</html>
