[Unit]
Description=cmi2w
After=syslog.target

[Service]
Environment=SPRING_CONFIG_LOCATION=/opt/cmi2w/application.properties
ExecStart=/opt/jdk-19/bin/java -jar  /opt/cmi2w/cmi2w-0.0.1-SNAPSHOT.war
User=cmi2w
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
