<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit user</title>
    </head>
    <body>

        <p>
            <a th:href="@{/j_spring_security_logout}">Log out</a>
            <a href="list-users.htm">List users</a>
        </p>
        
        <p th:if="${message}" th:text="${message}">message</p>
        
        <h1>Update a user</h1>
        
        <form th:object="${webUser}" action="#" method="post">
            
            <label for="name">Name</label>
            <input type="text" name="name" th:value="*{name}"/><br/>
            
            <label for="password">Password</label>
            <input type="text" name="password" th:value="*{password}"/><br/>
            
            <label for="email">Email</label>
            <input type="email" name="email" th:value="*{email}"/><br/>
            
            <label for="asteriskExtension">Asterisk extension</label>
            <input type="text" name="asteriskExtension" th:value="*{asteriskExtension}"/><br/>
            
            <label for="asteriskContext">Asterisk context</label>
            <input type="text" name="asteriskContext" th:value="*{asteriskContext}"/><br/>

            <label for="asteriskDialPrefix">Asterisk dial prefix</label>
            <input type="text" name="asteriskDialPrefix" th:value="*{asteriskDialPrefix}"/><br/>

            <label for="timeZone">Time zone</label>
            <input type="text" name="timeZone" th:value="*{timeZone}"/><br/>

            <label for="active">Active?</label>
            <input type="checkbox" th:field="*{active}"/><br/>

            <label for="hexKey">hexKey</label>
            <input type="text" name="hexKey" th:value="*{hexKey}"/><br/>
            
            <input type="hidden" name="id" th:value="*{id}"/>

            <input type="submit"/>
            
        </form>
    </body>
</html>
